<div>

  <table border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th>ID</th>
      <th>Policy Number</th>
      <th>Operations</th>

    </tr>

    <tr *ngFor="let student of students">
      <td>{{ student.stdid }}</td>
      <td>{{ student.age }}</td>
      <td>
        <button (click)="deletePolicy(student.stdid)">Delete</button>
        <button (click)="selectPolicy(student)">Update</button>
      </td>
    </tr>
  </table>
  <br>
  <form #f="ngForm">
    <label>Number</label>
    <input type="text" name="id" [(ngModel)]="selectedStudent.stdid">
    <br>
    <label>Amount</label>
    <input type="text" name="age" [(ngModel)]="selectedStudent.age">
    <br>
    <input type="button" (click)="createOrUpdateStudent(f)" value="Create ">
  </form>
