<h1>Student Attendance Management</h1>
<div class="stud">

  <table border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th>StudentID</th>
      <th>Pressent days</th>
      <th>Expected days to come</th>
      <th>Operations</th>

    </tr>

    <tr *ngFor="let policy of policies">
      <td>{{ policy.id }}</td>
      <td>{{ policy.number }}</td>
      <td>{{ policy.amount }}</td>
      <td>
        <button (click)="deletePolicy(policy.id)">Delete</button>
        <button (click)="selectPolicy(policy)">Update</button>
      </td>
    </tr>
  </table>
  <br>
  <form #f="ngForm">
    <label>Present Days</label>
    <input type="text" name="number" [(ngModel)]="selectedPolicy.number">
    <br>
    <label>Expected days</label>
    <input type="text" name="amount" [(ngModel)]="selectedPolicy.amount">
    <br>
    <input type="button" (click)="createOrUpdatePolicy(f)" value="Create or Update Policy">
  </form>
</div>
